* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  background-image: url("../image/bg_pc.jpg");
  -webkit-background-size: cover;
  background-color: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}
header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.53);
  padding: 0 20px;
  box-shadow: 0 2px 16px #666;
}
header h1 {
  float: left;
}
header h1 a {
  background-image: url("http://wondergirls.jype.com/images/logo-s.png");
  width: 104px;
  height: 52px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 25px;
  text-indent: -999px;
  font-size: 0px;
}
header h1 a:hover {
  transform: rotateY(180deg);
}
header nav {
  float: right;
}
header nav .main_manu {
  display: none;
}
header nav li {
  float: left;
  height: 100px;
  line-height: 100px;
}
header nav li a {
  text-decoration: none;
  padding: 0 18px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #F28195;
}
header nav li a:hover {
  background-color: #FBF5E0;
  color: #ECD28F;
  border-top: 2px #F28195 solid;
}
@media screen and (max-width: 770px) {
  body {
    background-image: url(../image/bg-720.jpg);
    background-position: center center;
  }
  header {
    height: 55px;
    background-color: #ffffff;
  }
  header h1 a {
    background-image: url("http://wondergirls.jype.com/images/logo-s.png");
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 5px 0 0 10px;
    padding: 0;
    text-indent: -999px;
    font-size: 0px;
  }
  header h1 a:hover {
    transform: rotateY(180deg);
  }
}
