.outline(){outline:1px #F00 solid}
@logo:"http://wondergirls.jype.com/images/logo-s.png";


body{
  width:100%;
  .outline()
}

  header{

    h1{
      background-image: url(@logo);
      width:104px;
      height:52px;
    }
    nav{

      ul{
        list-style: none;


        li{


        }
      }
    }

  }
